@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';


.navbar {
  height: $navbar-height;
  width: 100%;
  padding: 5px 20px 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: 300ms ease color;

    &:hover {
      color: $primary-color;
    }
  }

  .sidebar-toggle-button {
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: 300ms ease color;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $primary-color;
    }

    &:focus {
      outline: none;
    }
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    height: 100%;

    i.material-icons {
      height: 100%;
      padding: 0 20px;
      cursor: pointer;
      transition: 300ms ease opacity;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.5;
      }
    }

    a {
      height: 100%;
    }

    h1 {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      margin: 0;
      height: 100%;

      small {
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;

    > li {
      display: flex;

      a {
        height: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: inherit;
        color: inherit;
      }
    }
  }
}
